.venv/
Phase2_ML/Image-Classification/Parking-Lot/data/
Phase2_ML/Image-Classification/Wheather/data/
Phase2_ML/Image-Classification/Pneumonia/datas
Phase2_ML/Image-Classification/Face-Attendance/db
Phase2_ML/Object-Detection/Yolo/Prepare-Data/datas
Phase2_ML/Object-Detection/Yolo/Prepare-Data/data
Phase2_ML/Object-Detection/Yolo/Prepare-Data/validation-annotations-bbox.csv
Phase2_ML/Object-Detection/Yolo/Prepare-Data/test-annotations-bbox.csv
Phase2_ML/Object-Detection/Yolo/Prepare-Data/oidv6-train-annotations-bbox.csv
Phase2_ML/Object-Detection/Plate-Recognition/data
Phase2_ML/Semantic-Segmentation/Datas
Phase2_ML/Pose-Detection/Data
Phase2_ML/Pose-Detection/Sign-Detection/data
Phase2_ML/Semantic-Segmentation/Food-Detection/FoodSeg
Phase2_ML/Projects/Datas
Phase2_ML/Projects/Background-Remover/sam_vit_b_01ec64.pth
